= form_for @list, url: board_lists_path(@board, @list) do |f|
  .col-md-2
    .form-group
      = f.text_field :title, class: 'form-control', required: true, placeholder: "List's title"
      = f.submit @form_name, class: 'btn btn-success btn-block'
