.container-fluid
  =render 'shared/menu_bar'
  %h1 Your lists
  .row
    -@lists.each do |list|
      =render 'shared/list', list: list, notes: list.notes
    =render 'shared/list_form'

#block_for_chat
  .container
    .row
      .col-md-5
        .panel.panel-primary
          .panel-heading
            %span.glyphicon.glyphicon-comment
            Chat
          .panel-body
            %ul.chat
              %li.left.clearfix
                %span.chat-img.pull-left

                .chat-body.clearfix
                  .header
                    %strong.primary-font 
                      #messages
                        = render @messages
                    %small.pull-right.text-muted
                      %span.glyphicon.glyphicon-time>
          .panel-footer
            .input-group
              %input#btn-input.form-control.input-sm{"data-behavior" => "room_speaker", :type => "text"}/
              %span.input-group-btn
                %button#btn-chat.btn.btn-warning.btn-sm
                  Send
