<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .footer{
        text-align:  center;
      }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <h1>Trellogram</h1>
        <p class="lead">The idea of creating Trellogram was based on the desire to create a task manager
        like Trello but much easier to use, and integrate the chat there like in the Telegram.</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-4">
          <h4><a class="btn btn-sm btn-success" href="http://rubizza.com" role="button">Rubizza Camp<a></h4>
          <p>Courses in which the project was made.</p>
        </div>
          
        <div class="col-lg-4">
          <h4><a class="btn btn-sm btn-success" href="http://rubizza.com" role="button">Github<a></h4>
          <p>Link to the project's githab</p>
        </div>

        <div class="col-lg-4">
          <h4><a class="btn btn-sm btn-success" href="https://vk.com/rubizza" role="button">Feedback<a></h4>
          <p>For any questions, please contact this group.</p>
        </div>
      </div>

      <div class="footer navbar-fixed-bottom">
        <p>&copy; Rubizza Camp 2017</p>
      </div>

    </div> 

  </body>
</html>
            
