<% @lists.each do |list| %>
  <li>
    <% if(list.id != note.list_id) %>
      <%= link_to list.title,move_path(@board, list, note),method: :patch, remote: true, 'data-dismiss': 'modal' %>
    <% end %>
  </li>
<% end %>
