.modal.fade.bd-example-modal-sm{role: 'dialog', id: "move_#{modal_id}"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss': 'modal'}
          &times;
        .text-center
          %h4
            Move note to another list
      .modal-body
        .dropdown
          .text-center
            .btn-group
              %a{class: 'btn dropdown-toggle', 'data-toggle': 'dropdown', href:'#'}
                %p Choose list 
              %ul.dropdown-menu
                - @lists.each do |list|
                  %li
                    - if(list.id != note.list_id)
                      = link_to list.title,move_path(@board, list, note),method: :patch