.modal.fade.bs-example-modal-sm{role: 'dialog', id: "move_#{modal_id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss': 'modal'}
          &times;
        .text-center
          %h4
            Move note to another list
      .modal-body
        .dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            .text-center
              %p Choose target list
              %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            - @lists.each do |list|
              %li
                - if(list.id != note.list_id)
                  = link_to list.title,move_path(@board, list, note),method: :patch, remote: true
