.col.col-md-12
  .panel.panel-primary#block_for_chat
    .panel-heading
      %span.glyphicon.glyphicon-comment
      Chat
    .panel-body
      .chat.scrollable
        %left.clearfix
          .chat-body.clearfix
            .header
              %strong.primary-font
                #messages
                  = render @messages
              %small.pull-right.text-muted
    .panel-footer
      - if can? :create_message, @board
        %input#btn-input.form-control.input-sm{"data-behavior" => "room_speaker", :type => "text"}/
