<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="caption">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Board name">
        </div>
        <br>
        <div class="form-group">
          <textarea type="text" class="form-control" placeholder="Description..." rows="2"></textarea>
        </div>
        <div class="btn-group btn-group-justified" role="group">
          <a class="btn btn-success">Create new</a>
        </div>
      </form>
    </div>
  </div>
</div>
