    <ul class="list-inline">
      <li><a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content"><%= "#{user.profile.first_name}"+' '+"#{user.profile.last_name}" %></a></li>
    </ul>

