<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Connected users
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% @board.users.each do |user| %>
      <li>
        <% if board_creator?(user)%>
          <%= link_to "#{user.profile.first_name}"+' '+"#{user.profile.last_name}", "#user#{user.id}",{class:"btn btn-success",'data-toggle': "modal"}%>
        <% elsif board_subscriber?(user)  %>
          <%= link_to "#{user.profile.first_name}"+' '+"#{user.profile.last_name}", "#user#{user.id}",{class:"btn btn-danger",'data-toggle': "modal"}%>
        <% else %>
          <%= link_to "#{user.profile.first_name}"+' '+"#{user.profile.last_name}", "#user#{user.id}",{class:"btn btn-info",'data-toggle': "modal"}%>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
