<%= link_to "#", 'data-toggle': 'dropdown' do %>
  <div class="btn btn-primary dropdown-toggle" >
    Joined users
    <span class="caret"></span></button>
  </div>
<% end %>
<ul class="dropdown-menu joined_users">
  <% @board.users.each do |user| %>
    <%= render 'boards/joined_user', user: user%>
  <% end %>
</ul>
