<div class="modal fade" id="user<%= user.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User information</h4>
      </div>
      <div class="modal-body">
        <p> Some information about user</p>
      </div>
      <div class="modal-footer">
        <%= link_condition_first(user) %>
        <%= link_condition_second(user) %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
