.container
  .input_form
    %h1= @form_name
    = form_for(@invitation) do |f|
      .col-sm-3
        .form-group
          = f.text_field :user_to_invite_id, class: 'form-control', required: true,placeholder: "email"
          = f.submit @form_name, class: 'btn btn-success btn-block'
