<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">  
     <div class="caption"> 

      <div class="right">
        <a href="#" class="glyphicon glyphicon-remove"></a>
      </div>
      <h3>Title List</h3> 

          <%= render "shared/note" %>
      <p><a href="#" class="btn btn-primary" role="button">Create note</a> 
    </div>



    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">  
      <div class="caption"> 
        <div class="center">
          <p><a href="#" class="btn btn-primary" role="button">Create list</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>

