<%= render 'shared/delete_confirmation', object_type: 'board', modal_id: @board.object_id, path: board_path(@board) %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= @board.title %></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= render 'shared/dropdown_menu' %>
      </li>
      <% if @board.creator_id == current_user.id %>
        <li class='menu-button'>
          <%= link_to "#delete_#{@board.object_id}",  'data-toggle': 'modal' do %>
            <div class='btn btn-danger'>Delete board</div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
