    <div class="alert alert-info">
      <div class="right">
        <a href="#" class="glyphicon glyphicon-remove"></a>
      </div>
        <h4>Title note</h4>
        <h5>Description note</h5>
      </div>
