<%= render 'shared/delete_confirmation', path: board_path(board), modal_id: board.object_id, object_type: 'board' %>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= board.title %></h3>
      <div class="board-description scrollable"> <%= simple_format(board.description) %></div>
      <div class="btn-group btn-group-justified" role="group">
        <%= button_to 'Open', dashboard_path(board), class: "btn btn-primary btn-block", method: :get %>
      </div>
    </div>
  </div>
</div>
