.container-fluid
  = render 'shared/menu_bar'
  %h1 Your lists
  #row_for_list
  .row
    = render partial: 'lists/list', collection: @lists
    = render 'lists/list_form'
    -@board.users.each do |user|
      =render 'shared/dropdown_for_users', user: user
= render 'shared/chat'
