= render 'shared/menu_bar'
.row
  .lists-area.col-md-9
    = render partial: 'lists/list', collection: @lists
  .chat-area.col-md-3
    .row
      = render 'lists/list_form'
    .row
      = render 'shared/chat'
