.chat-area {
  height: 100%;
  width: 100%;
  padding-right: 0 !important;
  display: table;
}
.chat-area .row {
  width: 100%;
  .col {
    padding: 0;
    height: 100%;
  }
}

#block_for_chat {
  height: calc(100% - 20px);
  .panel-body {
    height: calc(100% - 92px);
  }
}

#chat_row {
  display: table-row;
  height: 100%;
}

.chat {
  height: 60vh;
}

#chat_area {
  height: 100%;
}

#messages {
  height: 100%;
}

p {
  word-wrap: break-word;
  color: gray;
}

.message-author {
  font-style: italic;
  color: black;
}

.panel-footer {
  position: absolute;
  width: calc(100% - 2px);
}
