// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown-menu {
  padding: 0 !important;
  .btn {
    border-radius: 0 !important;
  }
}

#working-area {
  display: table;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#working-area>.row {
  display: table-row;
  height: 100%;
}
