// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lists-area {
  height: 84vh;
  display: flex;
  display: -webkit-flex;
  overflow-x: auto;
}

.list-panel {
  width: 18vw;
  height: 80vh;
  flex: 0, 0, 0;
}

.list {
  height: 60vh;
}
