// Place all the styles related to the Note controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span {
  word-wrap: break-word;
}

.dropdown-menu#note_menu{
  min-width: 10px;
}

.note_panel {
  height: 130px;
}

pre {
  padding: 0 !important;
  background-color: inherit !important;
  border: 0 !important;
  font-family: inherit !important;
}
